[*.cs]

# CS8618: null 非許容のフィールドには、コンストラクターの終了時に null 以外の値が入っていなければなりません。Null 許容として宣言することをご検討ください。
dotnet_diagnostic.CS8618.severity = none

# CS8765: パラメーターの型の NULL 値の許容が、オーバーライドされたメンバーと一致しません。おそらく、NULL 値の許容の属性が原因です。
dotnet_diagnostic.CS8765.severity = none
